.image-hover-svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: stroke-dashoffset 1s ease-in-out;
  }
  
  .image-hover-container:hover .image-hover-svg polyline {
    stroke-dashoffset: 0;
  }